<!DOCTYPE html>
<html>
<head>
    <title>Alfatec AV</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_chatbot_copilot.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/alfatech/logo_alfatech.png') }}">
</head>
<body>
    <div class="chat-wrapper">
        <div class="container-fluid h-100">
            <div class="row justify-content-center h-100">        
                <div class="col-10 chat mx-auto h-100">
                    <div class="card h-100">
                        <div class="card-header msg_head">
                            <div class="d-flex bd-highlight justify-content-between align-items-center w-100">
                                <!-- 🔵 Logo a la izquierda -->
                                <div class="img_cont">
                                    <img src="{{ url_for('static', filename='images/alfatech/logo_alfatech.png') }}" class="user_img">
                                </div>
                        
                                <!-- 🟡 Nuevo diseño del usuario y logout -->
                                <div class="user-panel">
                                    <div class="user-info">
                                        <i class="fas fa-user-circle"></i> <!-- 👤 Icono de usuario -->
                                        <span class="username">{{ session.get('user', {}).get('name', 'Invitado') }}</span>
                                    </div>
                                    <a href="{{ url_for('logout') }}" class="logout-btn">
                                        <i class="fas fa-sign-out-alt"></i> Cerrar sesión
                                    </a>
                                </div>
                            </div>
                        </div>                                                              
                        <div id="messageFormeight" class="card-body msg_card_body">
                            <!-- Aquí irán los mensajes -->
                        </div>
                        <div id="loadingContainer" class="loading-container text-center" style="display: none;">
                            <span id="statusMessage" class="status-message"></span>
                            <i class="fas fa-spinner fa-spin loading-spinner"></i>
                        </div>
                        <div class="card-footer">
                            <div class="input-group-container">
                                <form id="messageArea" class="input-group">


                                    {% if 'es' in state %}
                                    <textarea id="text" name="user_input" placeholder="Pregúntame cualquier cosa" autocomplete="off" class="form-control type_msg" required></textarea>
                                    {% elif 'en' in state %}
                                    <textarea id="text" name="user_input" placeholder="Ask me anything" autocomplete="off" class="form-control type_msg" required></textarea>
                                    {% endif %}
                                    <div id="stateContainer" data-state="{{ state }}"></div>
                                    <div class="input-group-append">
                                        <!-- Dropdown para seleccionar modelo con estilo de botón -->
                                        <select id="modelSelector" name="selected_model" class="form-control model-selector">
                                            <option value="gpt-4o" {% if selected_model == 'gpt-4o' %}selected{% endif %}>GPT-4</option>
                                            <option value="gpt-35-16k" {% if selected_model == 'gpt-35-16k' %}selected{% endif %}>GPT-3.5</option>
                                        </select>
                                        <input type="file" id="fileInput" style="display: none;" />
                                        <button type="button" id="attachFile" class="btn attach_btn"><i class="fas fa-paperclip"></i></button>
                                        <button type="submit" id="send" class="btn send_btn"><i class="fas fa-location-arrow"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            let isWaitingResponse = false;
            
            const eventSource = new EventSource("/progress");
            eventSource.onmessage = function(event) {
                const statusMessage = event.data;
                if (statusMessage) {
                    $("#loadingContainer").show(); // Mostrar siempre que haya progreso
                    $("#statusMessage").text(statusMessage);
                }
            };

            $("#messageArea").on("submit", function(event) {
                event.preventDefault();

                if (isWaitingResponse) return;

                const userInput = $("#text").val().trim();
                const selectedModel = $("#modelSelector").val();

                if (!userInput) return;

                isWaitingResponse = true;
                $('#send').prop('disabled', true);
                $("#loadingContainer").show();  // 🔹 Mostrar el spinner siempre

                const date = new Date();
                const str_time = date.getHours() + ":" + (date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes());

                addMessage("Usted", userInput, str_time, true);

                $("#statusMessage").text("Conectando con el asistente...");

                $.ajax({
                    type: "POST",
                    url: window.location.pathname,
                    data: { user_input: userInput },
                    success: function(response) {
                        addMessage("Alfatec AV", response.assistant_response, str_time, false);
                        setTimeout(() => {
                            $("#loadingContainer").hide();
                            $("#statusMessage").text("");
                        }, 500);

                        isWaitingResponse = false;
                        $('#send').prop('disabled', false);
                    },
                    error: function(xhr, status, error) {
                        addMessage("Error", "Hubo un problema al procesar tu solicitud. Intenta de nuevo.", str_time, false);
                        setTimeout(() => {
                            $("#loadingContainer").hide();
                            $("#statusMessage").text("");
                        }, 500);

                        isWaitingResponse = false;
                        $('#send').prop('disabled', false);
                    }
                });
                
                $("#text").val("");
            });

            function addMessage(sender, message, time, isUser) {
                const alignClass = isUser ? 'justify-content-end' : 'justify-content-start';
                const messageClass = isUser ? 'msg_container_send' : 'msg_container';
                const imgClass = isUser ? 'user_img_msg' : 'bot_img_msg';
                const senderImg = isUser ? "{{ url_for('static', filename=user_icon) }}" : "{{ url_for('static', filename=bot_icon) }}";
               
                // Reemplazar **texto** por <b>texto</b>
                const formattedMessage = message.replace(/\*\*(.*?)\*\*/g, '<b>$1</b>');

                const messageHtml = `
                    <div class="d-flex ${alignClass} mb-4">
                        <div class="img_cont_msg">
                            <img src="${senderImg}" class="${imgClass}">
                        </div>
                        <div class="${messageClass}">
                            <b>${sender}</b><br>${formattedMessage}
                            <span class="msg_time">${time}</span>
                        </div>
                    </div>
                `;

                $("#messageFormeight").append(messageHtml);
                scrollToBottom();
            }

            function scrollToBottom() {
                const messageContainer = $('#messageFormeight');
                messageContainer.scrollTop(messageContainer[0].scrollHeight);
            }

            $("#text").on("keydown", function(event) {
                if (event.key === "Enter" && !event.shiftKey) {
                    event.preventDefault();
                    $("#messageArea").submit();
                }
            });
        });
    </script>
</body>
</html>
